*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    /* font-weight: 300; */
}
.container{
    height: 100vh;
    padding: 10px;
    background-image: #fff;
}
.container .todo-app{
    max-width: 540px;
    background-color: #eee;
    margin : 20px auto;
    padding: 10px;
    border-radius: 15px;  
}
.todo-app .add{
    margin-top:  20px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.add #txtinput{
    background-color: transparent;
    width: 100px;
    outline: none;
    border: none;
    flex-grow: 1;
    margin-left: 10px;
}
.add #addbtn{
    padding: 10px;
    width: 100px;
    outline: none;
    border-radius: 10px;
    border: none;   
    transition: 0.3s ease;
    background-color: rgb(247, 47, 47);
    color:white;
}
.add #addbtn:hover{
   background-color: rgb(149, 24, 24);
   color: white;
   cursor: pointer;
}
.task-container{
    padding: 10px;
    background-color: #eee;
    max-width: 540px;
    margin: 0px auto;
    border-radius: 20px;
}
#task-list .task{
    list-style: none;
    font-weight: 400;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 6px;
    max-width: 74%;
    position: relative;
}
.right-content{
    position: absolute;
    top:9px;
    right:-130px;
}
.task .delete{
    padding: 7px;
    background-color: rgb(247, 47, 47);
    color: white;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 5px;  
}
.task span:hover{
    background-color: rgb(149, 24, 24);
}
.task .done{
    padding: 7px;
    background-color: rgb(23, 167, 59);
    color: white;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    min-width: 50px;
}
#task-list .done:hover{
    background-color: rgb(12, 86, 30);
}
#task-list .done-task{
    opacity: 0.5;
}
@media (min-width: 300px) and (max-width: 400px) {
    .todo-app{
        width: 280px;
        padding: 0px;
    }
    .task-container{
        width: 280px;
        padding: 10px;
    }
    #task-list{
        max-width : 200px;
    }
    .right-content
    {
        font-size: small;
        margin-right: 22px;
        margin-top: 3px;
    }
  }
  @media (min-width: 400px) and (max-width: 550px) {
    .todo-app{
        width: 380px;
        padding: 0px;
    }
    .task-container{
        width: 380px;
        padding: 10px;
    }
    #task-list{
        max-width : 340px;
    }
    .right-content
    {
        font-size: small;
        margin-right: 22px;
        margin-top: 3px;
    }
  }